*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #212121;
    display: flex;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.clock{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 10px red;
}

.clock span{
    position: absolute;
    color: white;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 40px;
}

.clock::before{
    content: " ";
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.hand{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    width: 6px;
    height: var(--h);
    border-radius: 8px;
    background-color: var(--clr);
}